<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
  <div class="col-md-4">
<h1>Contact Form </h1>
<%= simple_form_for @contact do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :message %>
  <%= f.input :address %>
  <%= f.input :amount %>
  <%= f.button :submit, class: "btn btn-primary", value: "Submit"%>
<% end %>
</div>
</div>
</div>
